<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вхід</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<!-- Панель навігації з кнопкою реєстрації -->
<div class="navbar">
    <div class="navbar-left">
        <a th:href="@{/register}" class="btn">Зареєструватися</a>
    </div>
</div>

<div class="form-container">
    <h1>Вхід</h1>
    <form th:action="@{/login}" method="post">
        <div class="input-group">
            <label for="username">Ім'я користувача</label>
            <input type="text" id="username" name="username" th:value="${usernameValue}" required>
        </div>
        <div class="input-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Увійти</button>
    </form>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>
